.user-boards-container {
  background-color: #fafbfc;
  min-height: 93.8vh;
  margin-top: 6.1vh;
  color: #42526e;
  padding-left: 18vw;
  padding-top: 10vh;
  display: flex;
}

.my-boards,
.starred-boards {
  margin-left: 20px;
}

.star-container {
  top: 30px;
  right: -167.5px;
  position: relative;
}

.starred-boards-header svg {
  font-size: 30px;
  margin-right: 7px;
}

.my-boards .star-btn {
  font-size: 20px;
}

.my-boards .gold-star {
  top: 25px;
}

.test {
  // pointer-events: none;
  position: relative;
  width: 20px;
  height: 20px;
  bottom: -36px;
  right: -165px;
}

.user-boards-list {
  .starred-boards img {
    width: 15px;
  }
  min-width: 100%;
  .my-boards-header {
    margin-top: 20px;
    padding-left: 5px;
  }
  .starred-boards-header,
  .my-boards-header {
    img {
      width: 3%;
      margin-right: 5px;
    }

    h3 {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      display: inline-block;
      flex: 1;
      font-size: 16px;
      font-weight: 650;
      line-height: 24px;
      margin: 6px 0 0;
      margin-bottom: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .board-preview {
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    width: 200px;
    height: 100px;
    .link {
      cursor: pointer;
    }

    .board-preview-content {
      z-index: 1;
    }

    .test {
      pointer-events: none;
      transform: translateX(35px);
      transition: 0.2s;
    }

    svg {
      pointer-events: none;
      stroke: #fafbfc;
      transition: 0.2s;
      z-index: 2;
      position: absolute;
      path {
        stroke: #fafbfc;
      }
    }

    h2 {
      pointer-events: none;
      position: relative;
      z-index: 2;
      margin-top: 0;
      height: 24px;
      overflow: visible;
      font-size: rem(14px);
      color: white;
      margin-left: 5px;
      padding-top: 5px;
      font-weight: 700;
    }
    &:hover {
      .board-preview-screen {
        background-color: rgba(0, 0, 0, 0.274);
      }
      svg {
        pointer-events: initial;
      }
      .test {
        pointer-events: initial;
      }
    }
  }
}

.board-preview:hover .test {
  transition: 0.2s;
  transform: translateX(2px);
  stroke: #fff;
}

.board-preview-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

.board-preview-content {
  padding-top: 10px;
}

.new-board-preview {
  cursor: pointer;
  position: relative;
  background-color: #091e420a;
  border: none;
  box-shadow: none;
  display: table-cell;
  font-weight: 400;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  vertical-align: middle;
  width: inherit;
  width: 200px;
  height: 100px;
  .board-details {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      margin-top: 10px;
      font-weight: 400;
    }
  }

  &:hover {
    background-color: #091e4214;
    color: #172b4d;
  }
  .board-title {
    background-position: 50%;
    font-size: rem(14px);
    line-height: 20px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    color: #172b4d;
  }
}

.star-btn {
  position: relative;
}

.test svg {
  color: #fafbfc;
  stroke: #fafbfc;
  fill: #fafbfc;
  path {
    color: #fafbfc;
    stroke: #fafbfc;
    fill: #fafbfc;
  }
}

.add-board-pop {
  padding: 14px;
  padding-top: 5px;
  position: absolute;
  top: -30px;
  left: -201px;
  svg {
    path {
      fill: #eb5a46;
    }
  }
  span {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
  }
  input {
    &:focus-visible {
      // background-color: -internal-light-dark(
      //   rgb(255, 255, 255),
      //   rgb(38, 0, 255)
      // );
      // color: -internal-light-dark(rgb(11, 57, 211), white);
      // border-color: -internal-light-dark(
      //   rgba(19, 15, 236, 0.966),
      //   rgb(16, 12, 233)
      // );
    }
  }
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #091e4240;
  color: #172b4d;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  width: 200px;
  hr {
    margin-top: 0;
    margin-bottom: 8px;
  }
  h5 {
    color: #5e6c84;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin: 0;
  }
  .add-board-header {
    svg {
      margin-left: 30px;
      margin-top: 12px;
      cursor: pointer;
      &:hover {
        stroke: black;
        path {
          stroke: black;
        }
      }
    }

    path {
      stroke: #5e6c84;
      margin: 5px;
    }
  }

  .add-board-title {
    text-align: center;
    color: #172b4d;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #5e6c84;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0;
    padding-left: 45px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .add-title {
    color: #5e6c84;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .create-board {
    box-shadow: none;
    border: none;
    color: #a5adba;
    font-size: 14px;
    width: 100%;
    margin-top: 16px;
    height: 30px;
  }
  img {
    position: relative;
    bottom: 140px;
    left: 90px;
    width: 10px !important;
  }
}
.boards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 206px);
  grid-auto-rows: 100px;
  grid-gap: 16px;
  gap: 16px;
}
