.user-boards-list {
    .starred-boards-header,
    .my-boards-header {
        img {
            height: 24px;
            line-height: 32px;
            width: 24px;
            margin-right: 5px;
        }

        h3 {
            display: inline-block;
            flex: 1;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: 6px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .board-preview {
        position: relative;
        .board-details {
            cursor: pointer;
            height: 100%;
            width: 150px;
            border-radius: 3px;
            transition: filter 0.2s;
            text-align: center;
            background-size: cover !important;
            background-position: center !important;
            &:hover {
                filter: brightness(0.8);
            }
        }
    }
}
