.app-header {
    background-color: #ecf3f64d;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    max-height: 44px;
    width: 100%;
    padding: 6px 4px;
    position: fixed;

    img {
        height: 36px;

    }

    button {
        font-size: 1.09375rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        padding: 0.25rem 0.5rem;
        display: inline-block;
        border: 1px solid transparent;



        &:hover{
            cursor: pointer;
        }
        
    }
    .login-btn {
        color: $clr1;
        background-color: rgba(255, 255, 255, 0);
        padding-right: 13px;

        &:hover{
            text-decoration: underline;
            color:#0051cc
        }
    }
    .sign-up-btn {
        color: $clr5;
        background-color: $clr1;
        
        &:hover{
            background-color: #0051cc;
        }
    }
}
