.board-container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 44px);
    margin-right: 0;
    position: relative;
    transition: margin .1s ease-in;
    background-size: cover !important;
    background-position: center !important;
    padding-top: 44px;
}

.board-header{
    height: auto;
    padding: 8px 4px 4px 6px;
    position: relative;
    // padding-left: 32px;
    background: #ffffff3d;
    display: flex;
    *{
        margin-right: 15px;
    }
   .board-members{
    // float: right;
    margin: 0 -2px 0 0;
    .member {
        // float: right;
        height: 28px;
        margin: 0 0 4px 4px;
        width: 28px;
      img {
        border-radius: 50%;
      }
    }
   }
}