.board-container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 44px);
    margin-right: 0;
    position: relative;
    transition: margin .1s ease-in;
}

.board-header{
    height: auto;
    padding: 8px 4px 4px 8px;
    position: relative;
    padding-left: 32px;
    background: #ffffff3d;
}