.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  .card-label {
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 16px;
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    text-shadow: none;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    transition: max-width .3s .3s,  height .3s ;
    padding: 0 8px;
    &.true {
      transition: max-width .3s ,  height .3s .3s;
      height: 16px;
      // line-height: 16px;
      max-width: 198px;
    }
    .label-title {
      opacity: 0;
      // transition: all 0s;
      transition: opacity .3s;
      &.true {
        opacity: 1;
        transition: opacity .3s .4s;
      }
    }
    // background-color: #61bd4f;
  }
  .pic {
    min-height: 32px;
    max-height: 200px;
    overflow: hidden;
    img {
      height: 100%;
      z-index: 15;
      overflow: hidden;
      display: block;
      object-fit: cover;
    }
  }
}
.card-edit-icon {
  background-clip: padding-box;
  background-color: rgb(238, 238, 238);
  background-origin: initial;
  border-radius: 3px;
  opacity: 0;
  padding: 4px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 15;
  color: #4a5569;
  font-size: 18px;
  height: 25px;
  line-height: 20px;
  width: 25px;
  cursor: pointer;
  &:hover {
    color: #172b4b;
  }
}

.card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.card-hover {
  border-radius: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  // z-index: 11;
}
.card:hover {
  .card-details {
    background-color: rgba(211, 211, 211, 0.274);
  }
  .card-edit-icon {
    opacity: 0.8; 
  }
  .pic {
    background-color: rgba(211, 211, 211, 0.274);
  }
}

.card-cover{
  height: 29px;
  cursor: pointer;
}

.icons-container {
  float: left;
  margin-left: -4px;
  max-width: 100%;
  .card-icons {
    display: flex;
    color: #5e6c84;
    margin: 0 4px 4px 0;
    max-width: 100%;
    // min-height: 20px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;

    .icon {
      color: #5e6c84;
      display: flex;
      align-items: center;
      margin: 0 2px 4px 0;
      max-width: 100%;
      min-height: 20px;
      overflow: hidden;
      padding: 2px 5px;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      vertical-align: top;
      color: #6b778c;
      vertical-align: top;
      .svg {
        height: 15px;
        margin-right: 4px;
      }
      span {
        font-size: 14px;
      }
    }
  }
}

.labels {
  overflow: auto;
  position: relative;
}

.member-container {
  float: right;
  margin: 0 -2px 0 0;
  .member {
    float: right;
    height: 28px;
    margin: 0 0 4px 4px;
    width: 28px;
    img {
      border-radius: 50%;
    }
  }
}

.du-date-true {
  background-color: rgb(1, 165, 1);
  color: white;
  border-radius: 3px;
}
.du-date-late {
  background-color: rgba(245, 3, 3, 0.966);
  color: white;
  border-radius: 3px;
}

.du-date {
  cursor: pointer;
  &.true {
    background-color: rgb(1, 165, 1);
    color: white;
    border-radius: 3px;
  }
  .isDone {
    display: none;
  }
  &:hover {
    .isDone {
      display: inline;
    }
    .clock {
      display: none;
    }
  }
}

.icons-container .card-icons .icon.checklist-complete {
  background-color: rgb(1, 165, 1);
  color: white;
  border-radius: 3px;
}
