//MOBILE

.text {
  display: none;
  font-size: 0;
}

.window-edit {
  display: flex;
  align-items: flex-start;
  background-color: #000000a3;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
//TASK

.cover {
  height: 116px;
  padding-left: 95%;
  padding-top: 10px;
}

// .cover .close-edit-page-btn {
//   margin-top: 20px;
//   margin-left: 20px;
// }

.no-cover-container {
  padding: 16px;
}

.close-edit-page-btn {
  height: 16px;
  width: 16px;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: unset;
  padding: 10px;
  padding-bottom: 11px;
  position: absolute;
  right: 5px;
  background-color: #f4f5f756;
  top: 5px;
  z-index: 30;
  &:hover {
    background-color: #091e422c;
  }
}

.close-edit-page-btn > svg {
  transform: translateX(1px);
}

.task-edit {
  background-color: #f4f5f7;
  margin: 48px 0 80px;
  position: relative;
  width: 768px;
  z-index: 20;
  min-height: 600px;
  border-radius: 3px;
  .pic {
    overflow: hidden;
    img {
      height: 100%;
      z-index: 15;
      overflow: hidden;
      display: block;
      object-fit: contain;
      background-color: rgb(233, 230, 222);
    }
  }
  .card-cover {
    height: 116px;
  }
}

.task-edit .lower {
  margin-top: 3px;
}

.block {
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task {
  flex-grow: 1;
}

.edit-nav {
  margin-top: 20px;
}

.task-edit .title {
  flex-grow: 1;
}

.task-edit .editable-text {
  width: 95.3%;
}

.task-edit textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 54px;
  display: block;
  background: #091e420a;
  border-color: #091e4221;
  box-shadow: inset 0 0 0 1px #091e4221;
  margin-bottom: 4px;
  width: 100%;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.task-edit h5 {
  align-self: center;
  flex: 1;
  min-height: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  position: relative;
  z-index: 1;
  margin-left: 4px;
}

.members .top-detail {
  transform: translateY(2.3px);
}

.top-detail .check-box {
  transform: translateY(4.5px);
}

.task-header h5,
.task-header textarea {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: 100;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  margin-left: 12px;
}

.top-details-container {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 36px;
  flex-wrap: wrap;
}

.top-details {
  margin-right: 25px;
}

.top-details .check-box {
  margin-right: 0;
}

.label {
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  margin: 0 4px 4px 0;
  min-width: 40px;
  padding: 0 12px;
  width: auto;
  border-radius: 3px;
  color: white;
}

.task .label-btn {
  margin-left: 0;
}

.member {
  height: 28px;
  margin: 0 0 4px 4px;
  width: 28px;
  font-size: 16px;
}

.member img {
  border-radius: 50%;
}

.top-details .plus-icon {
  border-radius: 50%;
  font-size: 16px;
  padding: 3px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
}

.top-details-container .top-details h3 {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px;
}

.date-status {
  transform: translateX(5px);
  font-size: 12px;
  line-height: 16px;
  padding: 0 4px;
  border-radius: 2px;
  margin: auto 0 auto 8px;
  padding-top: 0;
}

.task-details {
  float: none;
  max-height: none;
  max-width: none;
  min-width: 0;
  padding: 8px;
  padding-left: 0;
  width: auto;
  margin: 0;
  min-height: 24px;
  position: relative;
  z-index: 0;
}

.task-edit .description {
  align-items: center;
  display: flex;
  min-height: 32px;
  border-bottom: none;
  margin: 0;
  padding: 8px 0;
  padding-bottom: 0;
  padding-left: 4px;
  position: relative;
}

.task-edit .description h3 {
  margin-left: 13px;
  color: #172b4d;
}

.description .editable-text h5 {
  margin-left: 18px;
}

.editable-text h5 {
  min-width: 100px;
}

.task-edit h3 {
  display: inline-block;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blue-btn {
  margin: 0 4px 0 0;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.grey-btn {
  margin-left: 8px;
  align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  white-space: normal;
  &:hover {
    background-color: #091e4214;
  }
}

//CHECKLIST
.checklist .grey-btn {
  margin-left: 10px;
}

.checklist h3 {
  display: inline-block;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.checklist .title {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.task-comments .title {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.left-title {
  display: flex;
}

.task-comments h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
}

.checklist .left-title {
  padding-top: 8px;
}

.checklist-icon {
  margin-right: 15px;
  margin-left: 4px;
  transform: translateY(-2px);
}

.checklist .title h5,
.description .title h3,
.checklist .title textarea {
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
}

.description svg {
  transform: translateY(2px);
}

.checklist .title h5 {
  font-weight: 600;
}

.checklist .add-checklist-todo {
  margin-top: 10px;
  margin-left: 38px;
}

.delete-btn {
  top: 0;
}

.prog-bar {
  display: flex;
}

.task .checklist .complete-str {
  margin-left: 46px;
}

.percentage {
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
  padding-top: 2px;
}
//CHECKLIST-TODO
.checklist-todo {
  display: flex;
  margin-top: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  padding-left: 5px;
  &:hover {
    background-color: #091e4214;
  }
}

.checklist-todo textarea {
  transform: translateY(-16px);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
}

.checklist-todo:hover,
.task-edit .edit {
  background-color: #091e420a;
}

.checklist-todo .checked {
  text-decoration: line-through;
}

.check-box {
  background-color: #fafbfc;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  cursor: pointer;
  flex-shrink: 0;
  height: 16px;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: 16px;
  font-size: 16px;
  line-height: 0;
  margin-right: 20px;
  margin-left: 1px;
  transform: translateY(3px);
}

/* TASK EDIT */
.note-edit {
  display: flex;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;

  flex-direction: column;
  max-width: 600px;
  min-width: 400px;
  min-height: 200px;
  border: 1px solid;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  gap: 5px;
  background-color: rgba(47, 85, 189, 0.925);
}

/* SCREEN BLACK */
.screen {
  position: fixed;
  inset: 0;
  background-color: #3d3f462f;
  opacity: 0.8;
  z-index: 2;
}

//MENU

.edit-menu {
  float: right;
  overflow: hidden;
  padding: 0 0 8px 8px;
  width: calc(100% - 557px);
  z-index: 10;
  margin-left: 16px;
}

.edit-menu h3 {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: -4px;
}

.menu-btn {
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &:hover {
    background-color: #091e4214;
  }
}

.menu-text {
  margin: 0 6px 0 6px;
}

.menu-icon {
  width: 20px;
}

.task-edit .description h5,
.task-edit .description textarea {
  margin-left: 20px;
}

.desc-editable-text {
  margin-left: 37px;
  margin-bottom: 30px;
  width: 97%;
  // min-height: 300px;
}

.prog-bar-dur {
  transition-duration: 0.2s;
  transition-property: width, background;
  transition-timing-function: ease-in;
}

.task-comments {
  margin-right: 8px;
  margin-left: 2px;
}

.task-comments h5:hover {
  cursor: default;
}

.task-comments .checklist-icon {
  transform: translateY(2px);
}
