//MOBILE

//TASK
.close-edit-page-btn {
  transform: translateX(2px);
}

.task-edit {
  min-height: 600px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  width: 768px;
  background-color: rgb(243, 244, 246);
  position: fixed;
  top: 48.7%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  border-radius: 3px;
  color: #324669;
}

.task-edit .lower {
  margin-top: 3px;
}

.block {
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task {
  flex-grow: 1;
}

.edit-nav {
  margin-top: 20px;
}

.task-edit .title {
  flex-grow: 1;
}

.task-edit .editable-text {
  width: 95.3%;
}

.task-edit textarea {
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;
  height: 54px;
  display: block;
  background: #091e420a;
  border-color: #091e4221;
  box-shadow: inset 0 0 0 1px #091e4221;
  margin-bottom: 4px;
  width: 100%;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.task-edit h5 {
  align-self: center;
  flex: 1;
  min-height: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  position: relative;
  z-index: 1;
  margin-left: 7px;
}

.task-header h5,
.task-header textarea {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  margin-left: 16px;
}

.task-details {
  float: none;
  max-height: none;
  max-width: none;
  min-width: 0;
  padding: 8px;
  width: auto;
  margin: 0;
  min-height: 24px;
  position: relative;
  z-index: 0;
}

.task-edit .description {
  align-items: center;
  display: flex;
  min-height: 32px;
  border-bottom: none;
  margin: 0 0 0px 0px;
  padding: 8px 0;
  position: relative;
}

.task-edit .description h3 {
  margin-left: 15px;
}

.description .editable-text h5 {
  margin-left: 18px;
}

.editable-text h5 {
  min-width: 100px;
}

// .task-edit h5 {
//   margin-left: 15px;
// }

.task-edit h3 {
  display: inline-block;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blue-btn {
  margin: 0 4px 0 0;
  background-color: #0079bf;
  border: none;
  box-shadow: none;
  color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  margin-left: 15px;
  margin-right: 15px;
}

.grey-btn {
  margin-left: 12px;
  align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  white-space: normal;
}

//CHECKLIST
.checklist h3 {
  display: inline-block;
  margin: 0;
  min-height: 18px;
  min-width: 40px;
  width: auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.checklist .title {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.checklist .left-title {
  display: flex;
}

.checklist-icon {
  margin-right: 15px;
}

.checklist .title h5,
.description .title h3,
.checklist .title textarea {
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
}

.checklist .title h5 {
  //   margin-left: 15px;
  font-weight: 600;
}

.add-checklist-todo {
  margin-top: 25px;
}

.delete-btn {
  top: 0;
}
//CHECKLIST-TODO
.checklist-todo {
  display: flex;
  margin-top: 8px;
  cursor: pointer;
  padding: 8px;
}

.checklist-todo textarea {
  transform: translateY(-16px);
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

.checklist-todo:hover,
.task-edit .edit {
  background-color: #091e420a;
}

.checklist-todo .checked {
  text-decoration: line-through;
}

.check-box {
  background-color: #fafbfc;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  cursor: pointer;
  flex-shrink: 0;
  height: 20px;
  left: 0;
  margin: 6px;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: 20px;
  font-size: 20px;
  line-height: 0;
  margin-right: 15px;
}

/* TASK EDIT */
.note-edit {
  display: flex;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;

  flex-direction: column;
  max-width: 600px;
  min-width: 400px;
  min-height: 200px;
  border: 1px solid;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  gap: 5px;
  background-color: rgba(47, 85, 189, 0.925);
}

/* SCREEN BLACK */
.screen {
  position: fixed;
  inset: 0;
  background-color: #202124;
  opacity: 0.8;
  z-index: 2;
}

//MENU

.edit-menu {
  float: right;
  overflow: hidden;
  padding: 0 16px 8px 8px;
  width: calc(100% - 520px);
  z-index: 10;
}

.edit-menu h3 {
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: -4px;
}

.menu-btn {
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.menu-btn:hover {
  background-color: #6f7b912d;
}

.menu-text {
  margin: 0 6px 0 6px;
}

.menu-icon {
  width: 20px;
}

.task-edit .description h5,
.task-edit .description textarea {
  margin-left: 20px;
}

.desc-editable-text {
  margin-left: 16px;
}
