.quick-bar-editor{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    // background-color: rgba(95, 95, 95, 0.342);
    z-index: 20;
    background: #0009;
}

.quick-edit-card-container{
    position: absolute;
    z-index: 20;
    width: 256px;
    border-radius: 3px;
    padding: 2px;
    z-index: 55;
    background-color: white;
    .textarea{
        border: none;
        margin: -1px;
        padding: 0;
    }
    .quick-edit-btn-save{
        position: absolute;
        bottom: -48px;
        .control-section-add-btn{
            padding: 6px 24px;
        }
    }
}

.quick-bar-btn-container{
    position: relative;
    background: #0009;
    border-radius: 3px;
    clear: both;
    color: #e6e6e6;
    display: block;
    float: left;
    margin: 0 0 4px 8px;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    transition: transform 85ms ease-in;
    cursor: pointer;
    &:hover{
        background: #000c;
        color: #fff;
        transform: translateX(5px);
    }
    .icon{
        font-size: 16px;
        position: relative;
        top: 2px;
    }
    :last-child{
        margin-left: 4px;
    }
}

.quick-bar-btn{
    left: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 272px;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in,transform 85ms ease-in;
    width: 161px; 
    z-index: 20;
    cursor: pointer;
}

.quick-edit-labels{
    margin: 5px 0px 0px 8px
}

.quick-bar-exit{
    color: #fff9;
    padding: 9px;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .15s;
    transition-property: transform,color;
}
.task-members.quick-bar{
    margin-right: 6px;
}