.add-check-list-pop {
    position: absolute;
    top: 134px;
    left: 505px;

    height: 175px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #091e4240;

    color: #5e6c84;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 4px;
    padding: 5px;
    box-sizing: border-box;
    width: 304px;
    // outline: 0;
    // overflow: hidden;

    .add-list-title {
        text-align: center;
        color: #172b4d;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        color: #5e6c84;
        height: 40px;
        display: block;
        line-height: 40px;
        margin: 0;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .add-title {
        color: #5e6c84;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        padding-bottom: 5px;
        margin-top: 16px;
    }
    .create-list {
        box-shadow: none;
        border: none;
        color: inherit;
        font-size: 14px;
        width: 100%;
        margin-top: 16px;
        height: 30px;
        display: flex;
        justify-content: center;

        &:hover{
            cursor: pointer;
        }
    }
    img {
        position: relative;
        bottom: 135px;
        left: 266px;
        width: 10px !important;
    }
    input{
        width: 100%
    }
}